
.soc{
  .soc-sigle {
    font-size: 14px;
    font-weight: bold;
  }
  .soc-nom {
    font-size: 12px;
    font-style: italic;
  }
}

.entete-tab {
  margin-bottom: 5px;
  .page-title {
    font-size: 16px !important;
  }
}
