<div fxLayout="row wrap">
  <div fxFlex="100" class="flex-p">
    <mat-card fxLayout="row">
      <div fxFlex="100" fxLayout="column">
        <mat-label class="page-title">{{ "gestion.des.utilisateurs" | translate
          }}
        </mat-label>
      </div></mat-card>
  </div>
</div>
<!-- <div class="mat-elevation-z2" fxLayout="column" class="flex-p">
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="{{ 'menu.utilisateurs' | translate }}">
      <app-user></app-user>
    </mat-tab>
    <mat-tab label="{{ 'menu.roles' | translate }}">
      <app-roles></app-roles>
    </mat-tab>
    <mat-tab label="{{ 'menu.historiques' | translate }}">
      <app-histo></app-histo>
    </mat-tab>
  </mat-tab-group>
</div> -->
