<!-- <div *ngFor="let a of alerts">
  <!-- <app-alert-messages [activite]="a" [siteLink]="siteLink"></app-alert-messages> -->
<!-- <app-alert-messages></app-alert-messages>
</div>
<app-info-cards [model]="model"></app-info-cards>
<div fxLayout="row wrap" #resizedDiv>
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" class="flex-p">
    <app-info-activites [model]="model"></app-info-activites>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" class="flex-p">
  </div>
</div> --> -->
